<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aquarius.FieldDataFramework" version="18.4.0" targetFramework="net472" />
  <package id="AutoFixture" version="3.16.5" targetFramework="net47" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net47" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net47" />
  <package id="NUnit" version="2.6.4" targetFramework="net47" />
</packages>